---

---

<article class="text-center text-lg max-w-xl mt-5">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum possimus
        voluptas aspernatur veritatis nostrum delectus laudantium cumque
        repellendus pariatur temporibus. Non quidem officia explicabo
        consectetur dignissimos tempora at atque iusto!
    </p>
</article>
