<header  class="mt-6">
    <nav class="fixed left-1/2 -translate-x-1/2 flex justify-center items-center gap-4 z-10 bg-white bg-opacity-30 backdrop-blur-lg rounded-full py-3 px-5">
        <a href="#top" class="font-semibold text-white hover:text-yellow-400 transition-colors">Home</a>
        <a href="#proyects" class="font-semibold text-white hover:text-yellow-400 transition-colors">Proyects</a>
        <a href="#about" class="font-semibold text-white hover:text-yellow-400 transition-colors">About me</a>
        <a  href="mailto:1997angelrios@gmail.com" class="font-semibold text-white hover:text-emerald-400 transition-colors">Contact</a>
    </nav>
</header>
