<span class="bg-slate-900 border-2 border-slate-600 flex justify-center items-center text-center rounded-full text-sm px-3 pr-4 py-1 gap-1">
    <slot />
</span>


<!-- SUBIR LOS PROYECTOS A NETLIFY Y AGREGARLOS A LOS PROJECTS CAMBIAR EL FONDO DE LOS PROJECTS DE NUEVOñ -->