
<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-1 px-2 text-xs bg-slate-900 duration-500 transition-transform hover:scale-110 hover:border-[#0811b4] md:py-2 md:px-4 md:text-base"
>
    <slot />
</a>